h2{
    font-weight: bold;
    font-optical-sizing: auto;

}
h3{
    font-optical-sizing: auto;
}

a{
color: black;
}

p{
    font-optical-sizing: auto;
}

.btn-primary{
    color: #A66CFF;
    background-color: #B3E0FF;
}

.btn-primary:hover{
    color: #B3E0FF;
    background-color: #A66CFF;
}
<<<<<<< HEAD

.link-color:hover{
    color:#ff0597;
}



    /* Estilos adicionales */
    @media (max-width: 991px) {
        /* Estilos para dispositivos móviles */
        .navbar-toggler {
            order: -1; /* Cambiar el orden para que aparezca primero */
        }

        .logo,
        .d-flex.justify-content-between.flex-wrap-reverse {
            order: -2; /* Cambiar el orden para que aparezcan después */
        }

        .navbar-collapse {
            order: -3; /* Cambiar el orden para que aparezca después */
        }
    }
=======
>>>>>>> main
