/* El fondo que use usa en los textos  */
.text-element {
  background-color: #ffcbc6;
}
.text-element:focus {
  background-color: #ffcbc6;
}

textarea {
  resize: none;
}
.button{
  background-color: #B3E0FF;
  color: #A66CFF;
  font-size: var(--button-size);
  font-family: var(--secondary-text-font);
  font-optical-sizing: auto;
}
.submit{
  padding-left: 12px;
}
/* breakpoint medium */
@media (min-width: 768px){
 
  .product-form{
    max-width:60%;
  } 

}

@media (min-width: 1140px){
 
  .product-form{
    max-width:50%;
  } 

}

@media (min-width: 1320px){
 
  .product-form{
    max-width:35%;
  } 

}

:root{
  --main-text-font: 'Fredoka', sans-serif;
  --secondary-text-font: 'Jost', sans-serif;
  --title-size: 45px;
  --subtitle-size: 30px;
  --paragraph-size: 17px;
  --button-size: 14px

}

.title{
  font-size: var(--title-size);
  font-family: var(--main-text-font);
  font-optical-sizing: auto;
}
.subtitle{
  font-size: var(--subtitle-size);
  font-family: var(--main-text-font);
  font-optical-sizing: auto;
}
.paragraph{
  font-size: var(--paragraph-size);
  font-family: var(--secondary-text-font);
  font-optical-sizing: auto;
}

